<img src="/images/pexels-cottonbro-studio-4709285.jpg" alt="" Class = "main-Pic"srcset=""></img>
<h2 class="Main-Writing">Trending Blogs</h2>


<main class="Main-Content">
    <section class="Post-area">
        <ul class="posts">
          {{#each projects}}
              <li class ="Post-Title"  >{{title}}</li>
                 <p  data-id = "{{id}}" class = "user">Posted By:{{user.username}}  On: {{format_date createdAt}}</p>

        </ul>
              <p class ="post-Description">{{description}}</p>
              {{#if comment}}
              <p>comments by users</p>
              {{#each comment}}
              <li>{{comment_text}}</li>
              {{/each}}
              {{/if}}
              


<div class = "comment-here">
    <label for="comment">Comment:</label>
    <input type="text" class="comment-section" name="comment" id="comment" placeholder="Write A Comment...">
    
    <button  id = "postComment" class ="submit-Comment">Send </button>
</div>


{{/each}}
    </section>
    <aside class ="Comment-Area"></aside>
</main>

<script src="/js/logout.js"></script>
<script src="/js/comment.js"></script>
{{!-- <script src="/js/index.js"></script> --}}