<main class = "Main-Wrapper"> 
    <section class="Main-post-section">
        <div class="Existing-Post">
    {{#if getPost}}
            <h1 class = "post-Heading"> Posts  by {{username}}</h1>
{{#each getPost}}
            <h2 class = "title-class" data-id ="{{id}}">title:<span class ="span-title">{{title}}</span></h2>
            <h3>Description:<span class ="span-title">{{description}}</span></h3>
            <button class = "updatePost">edit</button>
            <button class = "delUserPost">delete</button>
            <dialog >
   <label for="userTitle">Title:</label>
                <input type="text" name="title" id="newTitle">
                <label for="userDescription">Description:</label>
                <input type="text" name="description" id="newDescription">
                <button id="newSubmitId" class="submit-btn">Post</button>
</dialog>
    
    {{/each}}

   
    {{else}}
    <h1 class = "post-Heading">User have no posts</h1>
     {{/if}}
    
        </div>
    
    
    
        {{!-- --}}
        <div class="New-Post">
           
                <label for="userTitle">Title:</label>
                <input type="text" name="title" id="userTitle">
                <label for="userDescription">Description:</label>
                <input type="text" name="description" id="userDescription">
                <button id="submitId" class="submit-btn">Post</button>
     
    
    
        </div>
    </section>
</main>
<script src="/js/post.js"></script>